@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7c7af;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #d7c7af;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  text-overflow: ellipsis;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.add-bg {
  background-color: #d7c7af;
  opacity: 1;
  background-image: repeating-linear-gradient(
      45deg,
      #aa9d8a 25%,
      transparent 25%,
      transparent 75%,
      #aa9d8a 75%,
      #aa9d8a
    ),
    repeating-linear-gradient(
      45deg,
      #aa9d8a 25%,
      #d7c7af 25%,
      #d7c7af 75%,
      #aa9d8a 75%,
      #aa9d8a
    );
  background-position: 0 0, 16px 16px;
  background-size: 32px 32px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.appear-view {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  filter: url(#noiseFilter);
  opacity: 0.2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.maplibregl-popup-content {
  background: #171717 !important;
  border-radius: 5rem;
  padding: 0;
  pointer-events: auto;
  position: relative;
}
