@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7c7af;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #d7c7af;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: "1vw";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
